<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>SetNew Password</title>
</head>

<body>
    <div class="container-fluid py-4" style="height: 100vh; width: 100wh; background-image: url('./images/login.jpg');">
        <div class="container pt-5 rounded-3 h-100 bg-light">
            <div class="row">
                <div class="col-6 text-center">
                    <h2>Just Drives Driving School</h2>
                    <img src="./images/11.jpg" class="img-fluid" alt="logo">
                </div>

                <div class="col-6">
                   <p class="h3 fw-bold">Set Your New Password</p>
                    
                    <div class="pt-4">
                        <label for="formGroupExampleInput" class="form-label fw-bold"
                            style="color: #777777;">New Password</label>
                        <input type="text" class="form-control" id="formGroupExampleInput"
                            placeholder="Enter Your New Password">
                    </div>
                    <div class="pt-4">
                        <label for="formGroupExampleInput" class="form-label fw-bold"
                            style="color: #777777;">Confirm Password</label>
                        <input type="text" class="form-control" id="formGroupExampleInput"
                            placeholder="Enter Again Password">
                    </div>
                    
                   

                    <div class="d-grid gap-2 col-6a mx-auto pt-3">
                        <button class="btn btn-primary" type="button" ><a href="login.html" class="text-light text-decoration-none">Confirm</a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>