<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <title>Profile</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row">

            <!-- SideBar -->
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-light border border-right">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 min-vh-100">
                    <a href="/"
                        class="d-flex align-items-center py-3 mb-md-0 me-md-auto text-dark text-decoration-none fw-bold">
                        <span class="fs-5 d-none d-sm-inline">JD Driving School</span>
                    </a>
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
                        id="menu">
                        <li class="nav-item">
                            <a href="./AdminDashboard.html" class="nav-link align-middle px-0">
                                <i class="fs-4 bi-speedometer2 text-dark"></i>
                                <span class="ms-1 d-none d-sm-inline text-dark fw-bold ">Dashboard</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="./Instructors.html" class="nav-link align-middle px-0">
                                <i class="fs-4 bi bi-people-fill text-dark"></i>
                                <span class="ms-1 d-none d-sm-inline text-dark fw-bold">Instructors</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="./Vehicles.html" class="nav-link align-middle px-0">
                                <i class="fs-4 bi bi-stoplights-fill text-dark"></i>
                                <span class="ms-1 d-none d-sm-inline text-dark fw-bold">Vehicles</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="./Profile.html" class="nav-link align-middle px-0">
                                <i class="fs-4 bi bi-person-fill text-dark"></i>
                                <span class="ms-1 d-none d-sm-inline text-dark fw-bold">Profile</span>
                            </a>
                        </li>
                    </ul>
                    <hr>
                    <div class="dropdown pb-4 ">
                        <a href="#" class="d-flex align-items-center text-dark text-decoration-none dropdown-toggle"
                            id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30"
                                class="rounded-circle">
                            <span class="d-none d-sm-inline mx-1 text-truncate d-inline-block"
                                style="max-width: 130px;">Muhammad Umer Yasin</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                            <li><a class="dropdown-item" href="#">New project...</a></li>
                            <li><a class="dropdown-item" href="#">Settings</a></li>
                            <li><a class="dropdown-item" href="#">Profile</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Sign out</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Main Page Content -->
            <div class="col-md-10 bg-light">

                <!-- Header -->
                <div class="row p-2 border-bottom">
                    <nav class="navbar navbar-light bg-light">
                        <div class="container-fluid">
                            <span class="h2">Profile</span>
                            <form class="d-flex">
                                <input class="form-control " type="search" placeholder="Search" aria-label="Search">
                                <button class="btn btn-outline-success" type="submit"><i
                                        class="bi bi-search"></i></button>
                            </form>
                        </div>
                    </nav>
                </div>

                <!-- Main -->
                <div class="row p-4 d-flex justify-content-evenly">

                    <!-- Details -->
                    <div class="col-md-5 mb-5 py-4 rounded-3 text-center bg-white">
                        <img src="/images/instructor-1.jpg" alt="Instructor-1" class="rounded-3">
                        <h5 class="py-1"> Samantha William </h5>
                        <div> Member Since 2019</div>
                        <div class="py-3 d-flex align-items-center justify-content-evenly">
                            <div class="bg-light px-4 py-2 mx-1 rounded-3">Points <div class="fw-bold">2350</div>
                            </div>
                            <div class="bg-light px-4 py-2 mx-1 rounded-3">Certificates <div class="fw-bold">60</div>
                            </div>
                        </div>
                        <div class="h5 my-3">Achievements</div>
                        <div class="my-3">
                            <span class="p-3 bg-light"><i class="bi bi-trophy-fill text-warning fs-4"></i></span>
                            <span class="p-3 bg-light"><i class="bi bi-puzzle-fill text-success fs-4"></i></span>
                            <span class="p-3 bg-light"><i class="bi bi-sun-fill text-danger fs-4"></i></span>
                            <span class="p-3 bg-light"><i class="bi bi-medium text-primary fs-4"></i></span>
                            <span class="p-3 bg-light"><i class="bi bi-book-fill text-dark fs-4"></i></span>
                        </div>
                        <div class="my-3 fw-bold">Bio</div>
                        <div class="my-3 mx-5 bg-light text-start">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, suscipit. Dolores
                                assumenda alias explicabo quis inventore facere vitae eum, quod laudantium illo rerum.
                            </p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae similique dicta aut,
                                incidunt nam nesciunt totam nihil?</p>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="row d-flex justify-content-evenly align-items-centers">
                            <div
                                class="col-md-5 p-3 d-flex align-items-center justify-content-between bg-white rounded-3 ">
                                <i class="bi bi-patch-check-fill text-warning fs-2"></i>
                                <span><span class="fw-bold fs-4">100</span><br><span
                                        class="text-dark">Completed</span></span>
                                <a href="#"><i class="bi bi-chevron-right text-danger"></i></a>
                            </div>

                            <div
                                class="col-md-5 p-3 d-flex align-items-center justify-content-between bg-white rounded-3">
                                <i class="bi bi-clock-fill text-warning fs-2"></i>
                                <span><span class="fw-bold fs-4">100</span><br><span
                                        class="text-dark">Progress</span></span>
                                <a href="#"><i class="bi bi-chevron-right text-danger"></i></a>
                            </div>

                        </div>

                        <div class="row d-flex align-items-center px-3 justify-content-between mt-4">
                            <div class="col d-flex align-items-cente justify-content-between">
                                <div class="fw-bold fs-4">Current Courses</div>
                                <div><button class="btn btn-danger fs-7">View all</button></div>
                            </div>
                        </div>

                        <div class="row d-flex align-items-center justify-content-evenly mt-4">
                            <div class="col-md-5 bg-white rounded-3 px-3 py-4">
                                <div class="progress">
                                    <div class="progress-bar w-75 bg-success" role="progressbar" aria-valuenow="75"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div><br>
                                <div>Class <div class="fw-bold">UI Designer</div>
                                </div><br>

                                <div>Total Courses <div class="fw-bold">90/110</div>
                                </div>

                            </div>
                            <div class="col-md-5 bg-white rounded-3 px-3 py-4">
                                <div class="progress">
                                    <div class="progress-bar w-75 bg-warning" role="progressbar" aria-valuenow="75"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div><br>
                                <div>Class <div class="fw-bold">UX Reseracher</div>
                                </div><br>

                                <div>Total Courses <div class="fw-bold">58/80</div>
                                </div>

                            </div>
                        </div>
                        <div class="row m-3 p-3 bg-white rounded-3">
                            <div class="d-flex align-items-center justify-content-between">
                                <span class="fw-bold">Score Activity</span>
                                <span><i class="bi bi-circle-fill text-success fw-bolder"></i> Last Month</span>
                            </div>
                            <div class="d-flex align-items-center my-3">
                                <div class="dropdown pe-2">
                                    <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton1"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                        This Month
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                        <li><a class="dropdown-item" href="#">This Day</a></li>
                                        <li><a class="dropdown-item" href="#">This Week</a></li>
                                        <li><a class="dropdown-item" href="#">This Month</a></li>
                                    </ul>
                                </div>
                                <div class="dropdown">
                                    <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton1"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="bi bi-three-dots"></i>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                        <li><a class="dropdown-item" href="#">Edit</a></li>
                                        <li><a class="dropdown-item" href="#">Delete</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>








                <!-- footer -->
                <div class="footer text-center">
                    <p>Copyright © Designed by <a class="text-danger text-decoration-none" href="#"
                            target="_blank">HugeBinary</a> 2022</p>
                </div>

            </div>



        </div>
    </div>
    </div>
</body>