<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <title>Student Registration</title>
</head>

<body style="background-image: url('/images/SignUp.jpg');">
  <div class="container d-flex align-items-center justify-content-center min-vh-100">
    <div class="container">
      <div class="row">
        <div class="col bg-light p-4 rounded-3 border-dark">
          <div class="h2 d-flex justify-content-center">Student Registration Form</div>
          <div class="h5 d-flex justify-content-start">Please Enter Your Credentials To Create An Account:</div>
          <form>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email Address:</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="example@gmail.com">
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
              <label for="Username" class="form-label">Username:</label>
              <input type="Username" class="form-control" id="Username" placeholder="Your Username">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password:</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="********">
            </div>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Send me Latest Updates & News </label>
            </div>
            <button type="submit" class="btn btn-primary">Create Account</button>
            <button type="reset" class="btn btn-warning">Clear Form</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>

</html>