<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <title>Vehicles</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar -->
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-light border border-right">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 min-vh-100">
                    <a href="/"
                        class="d-flex align-items-center py-3 mb-md-0 me-md-auto text-dark text-decoration-none fw-bold">
                        <span class="fs-5 d-none d-sm-inline">JD Driving School</span>
                    </a>
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
                        id="menu">
                        <li class="nav-item">
                            <a href="./AdminDashboard.html" class="nav-link align-middle px-0">
                                <i class="fs-4 bi-speedometer2 text-dark"></i>
                                <span class="ms-1 d-none d-sm-inline text-dark fw-bold ">Dashboard</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="./Instructors.html" class="nav-link align-middle px-0">
                                <i class="fs-4 bi bi-people-fill text-dark"></i>
                                <span class="ms-1 d-none d-sm-inline text-dark fw-bold">Instructors</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="./Vehicles.html" class="nav-link align-middle px-0">
                                <i class="fs-4 bi bi-stoplights-fill text-dark"></i>
                                <span class="ms-1 d-none d-sm-inline text-dark fw-bold">Vehicles</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="./Profile.html" class="nav-link align-middle px-0">
                                <i class="fs-4 bi bi-person-fill text-dark"></i>
                                <span class="ms-1 d-none d-sm-inline text-dark fw-bold">Profile</span>
                            </a>
                        </li>
                    </ul>
                    <hr>
                    <div class="dropdown pb-4 ">
                        <a href="#" class="d-flex align-items-center text-dark text-decoration-none dropdown-toggle"
                            id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30"
                                class="rounded-circle">
                            <span class="d-none d-sm-inline mx-1 text-truncate d-inline-block"
                                style="max-width: 130px;">Muhammad Umer Yasin</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                            <li><a class="dropdown-item" href="#">New project...</a></li>
                            <li><a class="dropdown-item" href="#">Settings</a></li>
                            <li><a class="dropdown-item" href="#">Profile</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Sign out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <!-- Main Page Content -->
            <div class="col-md-10 bg-light">
               
                <!-- Header -->
                <div class="row p-2 border-bottom">
                    <nav class="navbar navbar-light bg-light">
                        <div class="container-fluid">
                            <span class="h2">Vehicles</span>
                            <form class="d-flex">
                                <input class="form-control " type="search" placeholder="Search" aria-label="Search">
                                <button class="btn btn-outline-success" type="submit"><i
                                        class="bi bi-search"></i></button>
                            </form>
                        </div>
                    </nav>
                </div>

                <!-- Cards -->
                <div class="row p-4 d-flex justify-content-evenly">

                    <div class="col-md-5 mb-5 py-4 rounded-3 text-center" style="background-color: white;">
                        <img src="/images/instructor-1.jpg" alt="Instructor-1" class="rounded-3">
                        <h5 class="py-1">
                            Samantha William
                        </h5>
                        <div>
                            <span>5.0 <i class="bi bi-star-fill text-warning"></i> &nbsp; | &nbsp; Review (1k) </span>
                        </div>
                        <div class="py-3">
                            <span class="bg-light p-2 mx-1 rounded-3">Design</span>
                            <span class="bg-light p-2 mx-1 rounded-3">Tech</span>
                            <span class="bg-light p-2 mx-1 rounded-3">Research</span>
                        </div>
                        <div class="py-4">
                            <span class="bg-light p-3 my-3 rounded-3"> <i class="bi bi-trophy-fill text-warning"></i>
                                Achievement</span>
                        </div>
                        <div class="d-grid gap-2 col-10 mx-auto py-3">
                            <button class="btn btn-success" type="button">View More</button>
                        </div>
                    </div>

                    <div class="col-md-5 mb-5 py-4 rounded-3 text-center" style="background-color: white;">
                        <img src="/images/instructor-1.jpg" alt="Instructor-1" class="rounded-3">
                        <h5 class="py-1">
                            Samantha William
                        </h5>
                        <div>
                            <span>5.0 <i class="bi bi-star-fill text-warning"></i> &nbsp; | &nbsp; Review (1k) </span>
                        </div>
                        <div class="py-3">
                            <span class="bg-light p-2 mx-1 rounded-3">Design</span>
                            <span class="bg-light p-2 mx-1 rounded-3">Tech</span>
                            <span class="bg-light p-2 mx-1 rounded-3">Research</span>
                        </div>
                        <div class="py-4">
                            <span class="bg-light p-3 my-3 rounded-3"> <i class="bi bi-trophy-fill text-warning"></i>
                                Achievement</span>
                        </div>
                        <div class="d-grid gap-2 col-10 mx-auto py-3">
                            <button class="btn btn-success" type="button">View More</button>
                        </div>
                    </div>

                    <div class="col-md-5 mb-5 py-4 rounded-3 text-center" style="background-color: white;">
                        <img src="/images/instructor-1.jpg" alt="Instructor-1" class="rounded-3">
                        <h5 class="py-1">
                            Samantha William
                        </h5>
                        <div>
                            <span>5.0 <i class="bi bi-star-fill text-warning"></i> &nbsp; | &nbsp; Review (1k) </span>
                        </div>
                        <div class="py-3">
                            <span class="bg-light p-2 mx-1 rounded-3">Design</span>
                            <span class="bg-light p-2 mx-1 rounded-3">Tech</span>
                            <span class="bg-light p-2 mx-1 rounded-3">Research</span>
                        </div>
                        <div class="py-4">
                            <span class="bg-light p-3 my-3 rounded-3"> <i class="bi bi-trophy-fill text-warning"></i>
                                Achievement</span>
                        </div>
                        <div class="d-grid gap-2 col-10 mx-auto py-3">
                            <button class="btn btn-success" type="button">View More</button>
                        </div>
                    </div>

                    <div class="col-md-5 mb-5 py-4 rounded-3 text-center" style="background-color: white;">
                        <img src="/images/instructor-1.jpg" alt="Instructor-1" class="rounded-3">
                        <h5 class="py-1">
                            Samantha William
                        </h5>
                        <div>
                            <span>5.0 <i class="bi bi-star-fill text-warning"></i> &nbsp; | &nbsp; Review (1k) </span>
                        </div>
                        <div class="py-3">
                            <span class="bg-light p-2 mx-1 rounded-3">Design</span>
                            <span class="bg-light p-2 mx-1 rounded-3">Tech</span>
                            <span class="bg-light p-2 mx-1 rounded-3">Research</span>
                        </div>
                        <div class="py-4">
                            <span class="bg-light p-3 my-3 rounded-3"> <i class="bi bi-trophy-fill text-warning"></i>
                                Achievement</span>
                        </div>
                        <div class="d-grid gap-2 col-10 mx-auto py-3">
                            <button class="btn btn-success" type="button">View More</button>
                        </div>
                    </div>

                    <div class="col-md-5 mb-5 py-4 rounded-3 text-center" style="background-color: white;">
                        <img src="/images/instructor-1.jpg" alt="Instructor-1" class="rounded-3">
                        <h5 class="py-1">
                            Samantha William
                        </h5>
                        <div>
                            <span>5.0 <i class="bi bi-star-fill text-warning"></i> &nbsp; | &nbsp; Review (1k) </span>
                        </div>
                        <div class="py-3">
                            <span class="bg-light p-2 mx-1 rounded-3">Design</span>
                            <span class="bg-light p-2 mx-1 rounded-3">Tech</span>
                            <span class="bg-light p-2 mx-1 rounded-3">Research</span>
                        </div>
                        <div class="py-4">
                            <span class="bg-light p-3 my-3 rounded-3"> <i class="bi bi-trophy-fill text-warning"></i>
                                Achievement</span>
                        </div>
                        <div class="d-grid gap-2 col-10 mx-auto py-3">
                            <button class="btn btn-success" type="button">View More</button>
                        </div>
                    </div>

                    <div class="col-md-5 mb-5 py-4 rounded-3 text-center" style="background-color: white;">
                        <img src="/images/instructor-1.jpg" alt="Instructor-1" class="rounded-3">
                        <h5 class="py-1">
                            Samantha William
                        </h5>
                        <div>
                            <span>5.0 <i class="bi bi-star-fill text-warning"></i> &nbsp; | &nbsp; Review (1k) </span>
                        </div>
                        <div class="py-3">
                            <span class="bg-light p-2 mx-1 rounded-3">Design</span>
                            <span class="bg-light p-2 mx-1 rounded-3">Tech</span>
                            <span class="bg-light p-2 mx-1 rounded-3">Research</span>
                        </div>
                        <div class="py-4">
                            <span class="bg-light p-3 my-3 rounded-3"> <i class="bi bi-trophy-fill text-warning"></i>
                                Achievement</span>
                        </div>
                        <div class="d-grid gap-2 col-10 mx-auto py-3">
                            <button class="btn btn-success" type="button">View More</button>
                        </div>
                    </div>

                </div>

                <!-- Footer -->
                <div class="footer text-center bg-secondary">
                    <p>Copyright © Designed by <a class="text-danger text-decoration-none" href="#"
                            target="_blank">HugeBinary</a> 2022</p>
                </div>

            </div>

        </div>
    </div>




</body>